<!DOCTYPE html>
<html>
    <head>
        <title>Simple template</title>
    </head>
    <body>
        <h1>It works!</h1>
        <hr>
        <p>This is simple template with simple structure</p>
        {% if haveSlug %}
        <p>There are additional slug here: {{ slug }}</p>
        {% endif %}
    </body>
</html>
